.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found-img {
  width: 400px;
}
.continuebutton {
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 0px;
}
.notfoundpara {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
